
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <!-- COMMON TAGS -->
    <title>PubFolder</title>
    <!-- Search Engine -->
    <meta name="description" content="Claim back your Dropbox public folder with PubFolder!">
    <meta name="image" content="https://pubfolder.com/open-folder.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="PubFolder">
    <meta itemprop="description" content="Claim back your Dropbox public folder with PubFolder!">
    <meta itemprop="image" content="https://pubfolder.com/open-folder.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="PubFolder">
    <meta name="twitter:description" content="Claim back your Dropbox public folder with PubFolder!">
    <meta name="twitter:site" content="PubFolder">
    <meta name="twitter:creator" content="PubFolder">
    <meta name="twitter:image:src" content="https://pubfolder.com/open-folder.png">
    <!--<meta name="twitter:player" content="https://pubfolder.com/makevid.mp4">-->
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="PubFolder">
    <meta name="og:description" content="Claim back your Dropbox public folder with PubFolder!">
    <meta name="og:image" content="https://pubfolder.com/open-folder.png">
    <meta name="og:url" content="https://pubfolder.com">
    <meta name="og:site_name" content="PubFolder - Claim back your Dropbox public folder">
    <meta name="og:locale" content="en_US">
    <!--<meta name="og:video" content="https://pubfolder.com/makevid.mp4">-->
    <meta name="fb:admins" content="666">
    <meta name="fb:app_id" content="666">
    <meta name="og:type" content="website">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <!--<link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <noscript><style>.jsonly {display: none;}</style></noscript>
    {% block head_extras %}{% end %}
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span style="margin-right:5px;" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> PubFolder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {% if logged_in %}
              <li><a href="/list">List Files</a></li>
            {% end %}
            <li><a href="/faq">FAQ</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if logged_in %}
              <li class="pull-right"><a href="/logout">Logout</a></li>
            {% else %}
              <li class="pull-right"><a href="/login">Login</a></li>
            {% end %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      {% block main %}Default text{% end %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
