{% extends "base.html" %}

{% block main %}
<div class="row">
    <div class="jumbotron">
      <h1>PubFolder FAQ</h1>
      <p>PubFolder is awesome.</p>
    </div>
    <h4>What is PubFolder?</h4>
    <div class='faq-answer'>
      PubFolder makes it easy to host files to the public straight out or your Dropbox. It works just like <a href="https://www.dropbox.com/help/files-folders/public-folder" target="_blank">Dropbox's discontinued Public folder</a>.
    </div>

    <h4>How is this different than "Copy Dropbox Link" or "Sharing" in Dropbox?</h4>
    <div class='faq-answer'>
      Two ways.
<ol>
      <li>Dropbox share links embed your content within a Dropbox web UI. PubFolder gives you a link directly to your raw file. This is particularly useful in some situations, like if you're hosting an image which you'd like to embed.</li>
      <li>PubFolder links come in a predictable format. The path to each file is <code>pubfolder.com/&ltyour user id&gt/&ltthe file path within PubFolder&gt</code></li>
</ol>
</div>
    <h4>Are my PubFolder files safe?</h4>
    <div class='faq-answer'>
            Files in your PubFolder are NOT private. Putting a file in your PubFolder shares it with the world in a guessable link format. Besides that, PubFolder is very safe.
            Your authroization lets PubFolder access only files within the PubFolder app folder.
    </div>
</div>
{% end %}
