{% extends "base.html" %}

{% block main %}
<div class="row">
    <div class="jumbotron">
      <h1>PubFolder</h1>
      <p>Claim back your Dropbox public folder.</p>
    </div>


    <h4>How to Use PubFolder</h4>
    <ol>
      {% if not logged_in %}
      <li><p><a href="/login">Authorize your Dropbox</a></p></li>
     {% end %}
     <li><p>Put files you'd like to share in <a href="https://www.dropbox.com/home/Apps/PubFolder" target="_blank">your PubFolder</a></p></li>
      <li><p>Go to <a href="/list">List Files</a> and click the button to get your PubFolder link for sharing</p>
    </ol>
</div>
{% end %}
