{% extends "base.html" %}

{% block main %}
<div class="row">
    <div class="jumbotron">
      <h1>PubFolder</h1>
      <p>Claim back your Dropbox public folder.</p>

      <ol>
      {% if not logged_in %}
        <li><p><a href="/login">Authorize your Dropbox</a>.</p></li>
      {% end %}
        <li>Put files you'd like to share in your PubFolder</li>
        <li>Go to <a href="/list">List Files</a> and click the button to get your PubFolder link for sharing.
      </ol>
    </div>

    <h3>What is PubFolder?</h3>
    <div>
      PubFolder makes it easy to host files to the public straight out or your Dropbox. It works just like <a href="https://www.dropbox.com/help/files-folders/public-folder" target="_blank">Dropbox's old Public folder</a>.
    </div>

    <h3>How is this different than "Copy Dropbox Link" or "Sharing" in Dropbox?</h3>
    <div>
      Two ways.<br>
      1) Dropbox share links embed your content within a Dropbox web UI. PubFolder hosts your raw file directly. This is particularly useful in some situations, like if you're hosting an image which you'd like to embed somewhere.<br>
      2) PubFolder links come in a predictable format. The path to each file is <code>pubfolder.com/&ltyour user id&gt/&ltthe file path within PubFolder&gt</code>
    </div>

</div>
{% end %}
